<nav class="navbar navbar-default">
    <div class="container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#message-board-nav-collapse" aria-expanded="true">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'main:home' %}">Wormhole Sales Beta</a>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="message-board-nav-collapse">
            <ul class="nav navbar-nav">
                {% if request.path == '/order-form/' %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="{% url 'main:order_form' %}">Sell</a>
                </li>
                {% if request.path == 'buy-path-here' %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                    <a href="#">Buy</a>
                </li>
            </ul>
            <ul class="nav navbar-nav navbar-right">
                {% if user.is_authenticated %}
                    <li class="dropdown">
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Logged in as {{ user.username }}<span class="caret"></span></a>
                        <ul class="dropdown-menu">
                            <li><a href="{% url 'logout' %}">Logout</a></li>
                            <li><a href="{% url 'password_reset' %}">Reset Password</a></li>
                        </ul>
                    </li>
                {% else %}
                    <li><a href="{% url 'register' %}" class="text-primary">Register</a></li>
                    <li><a href="{% url 'login' %}" class="text-primary">Login</a></li>
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
