/*
Reference for colors
Text in nav bar #f5f5f5
Heading text #317eac
navbar color #50a8dc
*/


body {
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    margin-bottom: 70px;
}

h1, h2, h3, h4, h5, h6 {
    margin: 0px 0px 20px 0px;
    font-family: 'Telex',sans-serif;
    font-weight: bold;
    color: #317eac;
    text-rendering: optimizelegibility;
}

#system-details {
    display: none;
}
#system-details .panel,
#system-details p {
    margin-bottom: 0px;
}

#id_contact_name_validation,
#id_system_validation
{
    display: none;
}


#order-container{
    margin-top: -15px;
}
.order-panel {
    float: left;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px #ddd;
    width: 100%;
    margin-bottom: 10px;
}

.panel-body .well.well-sm {
    margin: 0;
}


#static-container{
    margin-top: -15px;
}
.static-panel {
    float: left;
    overflow: hidden;
    border-radius: 5px;
    border: solid 1px #ddd;
    width: 100%;
    margin-top: 15px;
}
.static-wrapper {
    float: hidden;
    position: relative;
    right: 80%;
    background-color: blue;
    display: flex;
    align-items: center;
}
.static-title {
    float: left;
    position: relative;
    left: 80%;
    width: 20%;
    padding: auto;
    box-sizing: border-box;
    color: white;
    font-weight: bold;
    font-size: 2.5em;
}
.static-body {
    float: left;
    position: relative;
    left: 80%;
    width: 80%;
    padding: 15px;
    box-sizing: border-box;
}

.Hs {
    background-color: #50D25A;
}
.Ls {
    background-color: #F5B544;
}
.Ns {
    background-color: #FF4747;
}
.C1, .C2, .C3, .C4, .C5, .C6, .C13 {
    background-color: #4399F0;
}


.navbar-default {
    background-color: #50a8dc;
    border-color: #50a8dc;
    border-radius: 0px;
}

.navbar-default .navbar-brand,
.navbar-default .navbar-brand:hover {
    color: #f5f5f5;
}

.navbar-default .navbar-nav>.active>a,
.navbar-default .navbar-nav>.active>a:focus,
.navbar-default .navbar-nav>.active>a:hover {
    background-color: rgba(0,0,0,.1);
    color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a {
    color: #f5f5f5;
}

.navbar-default .navbar-nav>.open>a,
.navbar-default .navbar-nav>.open>a:focus,
.navbar-default .navbar-nav>.open>a:hover {
    background-color: #50a8dc;
    color: #f5f5f5;
}

.navbar-default .navbar-nav>li>a:focus,
.navbar-default .navbar-nav>li>a:hover {
    color: #f5f5f5;
}

.dropdown-menu {
    background-color: #50a8dc;

}

.dropdown-menu>li>a,
.dropdown-menu>li>a:focus,
.dropdown-menu>li>a:hover {
    background-color: #50a8dc;
    color: #f5f5f5;
}

/*settings for the shadow box around forms*/
.wrapper {
    padding: 30px;
    background-color: #f5f5f5;
    border-radius: 5px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    margin-bottom: 50px;
}


/*settings for the footer*/
.footer {
    text-align: center;
    font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
    text-rendering: optimizelegibility;
    font-weight: bold;
    /* settings for the position of the footer */
    position: absolute;
    bottom: 0;
    width: 100%;
    /* Set the fixed height of the footer here */
    height: 46px;
    background-color: #ddd;
}

html {
  position: relative;
  min-height: 100%;
}

/*settings for aligning text inside the footer*/
.footer > .container {
  padding-right: 15px;
  padding-left: 15px;
  padding-top: 15px;
}

.footer li {
    display: inline;
}

.glyphicon-info-sign {
    font-size: 13pt;
    color: #1B63FF;
}

.btn-default:hover {
    color: #1B63FF;
}

.glyphicon-globe {
    font-size: 13pt;
    color: #1B63FF;
}

.table-row:nth-child(odd) {
    background-color: #f5f5f5;
}

.table-row {
    padding: 7px;
    border-bottom: 1px solid #ccc;
    display: flex;
    align-items: center;
    float: left;
    width: 100%;
}

.table-cell {
    /*float: left;*/
    /*width: 100%;*/
    /*text-align: center;*/
}

.table-cell p {
    margin-bottom: 0;
}

.col-heading {
    font-weight: bold;
}

.button-col {
    text-align: center;
}

#order-list .table-row.user-table-row {
    background-color: #DAF0FD;
}

.table-dropdown {
    background-color: #F7F7F7;
    padding-left: 10px;
}

.dropdown-menu-right>li>a,
.dropdown-menu-right>li>a:focus,
.dropdown-menu-right>li>a:hover {
    background-color: #F7F7F7;
    color: blue;
    padding-left: 0px;
}

.caret {
    color: black;
}

.nav-caret {
    color: #f5f5f5;
}

/*Landing Page CSS*/
.landing h1 {
    text-align: center;
}

.btn-default:hover {
    color: black;
}

.landing-btn {
    background-color: #F5F5F5;
    border-radius: 15px;
    margin-bottom: 20px;
    -webkit-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    -moz-box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    box-shadow: 2px 2px 2px 0px rgba(0,0,0,0.5);
    background-image: -webkit-gradient(linear, left top, left bottom, from(#E6E6E6), to(#CCCCCC));
    background-image: -webkit-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -moz-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -ms-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: -o-linear-gradient(top, #E6E6E6, #CCCCCC);
    background-image: linear-gradient(to bottom, #E6E6E6, #CCCCCC);filter:progid:DXImageTransform.Microsoft.gradient(GradientType=0,startColorstr=#E6E6E6, endColorstr=#CCCCCC);
}

.navbar-btn {
    background-color: #50a8dc;
    color: #f5f5f5;
    border-color: #f5f5f5
}
.navbar-btn:hover,
.navbar-btn:focus,
.navbar-btn:active {
    background-color: #0B79BA;
    color: #f5f5f5;
    border-color: #f5f5f5
}


.intro-text {
    text-align: center;
    padding: 30px;
    border-radius: 5px;
    margin-bottom: 12px;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #50a8dc;
}

@media (max-width: 768px) {
    .navbar-nav .btn-group {
        margin-left: 14px;
    }
    .brand-img {
        padding-left: 5px;
    }
}

.btn-group>.btn:focus {
    border-color: #f5f5f5;
    background-color: #50a8dc;
    color: #f5f5f5;
}

.brand-name {
    color: #f5f5f5;
    font-size: 20px;
    margin-right: 10px;
    display: flex;
    align-items: center;
    float: left;
}
.brand-name:hover {
    text-decoration: none;
    color: #f5f5f5;
}

.brand-img {
    padding-top: 5px;
    padding-right: 10px;
}

.nav .dropdown-menu {
    width: 100%;
    border-top: none;
}

.glyphicon-chevron-down,
.glyphicon-chevron-down:hover {
    font-size: 20px;
    color: black;
}

.price-textbox {
    display: none;
}
