{% extends 'project/base.html' %}

{% block content %}

    <div class='container panel panel-basic wrapper'>
        <div class='row'>
            <form class='col-sm-offset-4 col-sm-4' action='{% url "password_reset" %}' method='POST'>
                {%csrf_token%}
                <div class='form-group'>
                    {{form.email.errors}}
                    <label>Email</label>
                    <input type="email" name='email' class='form-control'>

                </div>
                <button class='btn btn-default' type='submit'>Submit</button>
            </form>
        </div>
    </div>

{% endblock content %}
