{% extends "project/base.html" %}


{% block content %}

    <div class="container landing">
        <div class="row">
            <div class="col-sm-6">
                <a href="#" class="btn btn-block btn-default">
                    <h1>Sell A Wormhole</h1>
                    <p>List a Wormhole you don't want anymore</p>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-block btn-default">
                    <h1>Buy A Wormhole</h1>
                    <p>Tell us what you want</p>
                    <p>we'll find someone who doesn't want it anymore</p>
                </a>
            </div>
        </div>
    </div>

{% endblock content %}

