{% extends "project/base.html" %}


{% block content %}

    <div class="container landing">
        <div class="row">
            <div class="col-sm-12">
                <h1>Welcome to the New Wormhole Sales!</h1>
            </div>
            <div class="col-sm-10 col-sm-offset-1 intro-text wrapper">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus deleniti cum molestias aut veniam enim nisi quam repudiandae assumenda quod sed, aspernatur quisquam consequuntur numquam soluta odit reprehenderit dolores. Ducimus!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident aut ab veritatis suscipit commodi, quod harum nobis tenetur quam nostrum consectetur esse qui eligendi placeat quos dolorem laboriosam eos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="#" class="btn btn-block btn-default landing-btn">
                    <h1>Sell A Wormhole</h1>
                    <span>List a Wormhole you don't want anymore</span>
                    <p>We'll find someone who wants it</p>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-block btn-default landing-btn">
                    <h1>Buy A Wormhole</h1>
                    <span>Tell us what you want</span>
                    <p>We'll find someone who doesn't want it anymore</p>
                </a>
            </div>
        </div>
    </div>

{% endblock content %}

