{% extends "project/base.html" %}


{% block content %}

    <div class="container landing">
        <div class="row">
            <div class="col-sm-12">
                <h1>Welcome to</h1>
                <h1>New Wormhole Sales!</h1>
            </div>
            <div class="col-sm-10 col-sm-offset-1 intro-text">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Temporibus deleniti cum molestias aut veniam enim nisi quam repudiandae assumenda quod sed, aspernatur quisquam consequuntur numquam soluta odit reprehenderit dolores. Ducimus!</p>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Assumenda provident aut ab veritatis suscipit commodi, quod harum nobis tenetur quam nostrum consectetur esse qui eligendi placeat quos dolorem laboriosam eos.</p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-6">
                <a href="{% url 'main:sell_list' %}" class="btn btn-block btn-default landing-btn">
                    <h1>Sell Orders</h1>
                    <h4>There are {{ sell_count }} Sell Orders</h4>
                    <span>Explore the ready-to-buy listings.</span>
                    <p>Find a hole to your specifications.</p>
                </a>
            </div>
            <div class="col-sm-6">
                <a href="#" class="btn btn-block btn-default landing-btn">
                    <h1>Buy Orders (WIP)</h1>
                    <h4>There are {{ buy_count }} Buy Orders</h4>
                    <span>Explore what people want to buy.</span>
                    <p>See if anyone wants the hole you just found.</p>
                </a>
            </div>
        </div>
    </div>

{% endblock content %}

