{% extends "project/base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load customfilters %}

{% block content %}

    <div class="container">
        <div class="row table-row">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-heading button-col"><p>Info</p></div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-heading"><p>Class</p></div>
            <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 col-heading"><p>Effect</p></div>
            <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 col-heading"><p>Price (ISK)</p></div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs col-heading"><p>Seller</p></div>
            <div class="col-lg-1 col-md-1 hidden-sm hidden-xs col-heading"><p>J&#8209;Code</p></div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs col-heading"><p>Modified</p></div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-1 col-heading button-col"><p>More</p></div>
        </div>
        {% for order in object_list %}
            <div class="row table-row">
                <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 button-col"><a href="{% url 'main:order_details' order.id %}" class='glyphicon glyphicon-info-sign btn btn-default'></a></div>
                <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3"><p>{{ order.system.space.abbrev }}: {% for static in order.system.statics.all %}{% if forloop.first %}{% else %}/{% endif %}{{ static.space.abbrev }}{% endfor %}</p></div>
                <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3"><p>{{ order.system.effect.name }}</p></div>
                <div class="col-lg-2 col-md-2 col-sm-4 col-xs-4 price-col"><p>{{ order.price|sigfigs:4|intword }}</p></div>
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"><p><a href="{{ order.evewho_link }}" target="_blank">{{ order.contact_name }}</a></p></div>
                <div class="col-lg-1 col-md-1 hidden-sm hidden-xs"><p>{{ order.system.j_code }}</p></div>
                <div class="col-lg-2 col-md-2 hidden-sm hidden-xs"><p><abbr class="timeago" title="{{ order.modified|date:'c' }}"></abbr></p></div>
                <div class="col-lg-1 dropdown button-col col-md-1 col-sm-2">
                    <button class="btn btn-default dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                        <span class="caret"></span>
                    </button>
                    <ul class="dropdown-menu dropdown-menu-right table-dropdown" aria-labelledby="dropdownMenu1">
                        <li class='hidden-lg hidden-md'><p>Posted: <abbr class="timeago" title="{{ order.modified|date:'c' }}"></abbr></p></li>
                        <li class='hidden-lg hidden-md'><p>Seller: <a href="{{ order.evewho_link }}" target="_blank">{{ order.contact_name }}</a></p></li>
                        <li class='hidden-lg hidden-md'><p>J-Code: {{ order.system.j_code }}</p></li>
                        <li role="separator" class="divider hidden-lg hidden-md"></li>
                        <li class=''><p><a href="{{ order.system.eveplanet_URL }}" target="_blank">Planets</a></p></li>
                        <li class=''><p><a href="https://zkillboard.com/system/{{order.system.id}}" target='_blank'>ZKill</a></p></li>
                        <li class=''><p><a href="http://wh.pasta.gg/{{order.system.j_code}}" target='_blank'>wh.pasta.gg</a></p></li>
                    </ul>
                </div>
            </div>
        {% endfor %}
    </div>

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/initialize.timeago.js' %}"></script>

    <script type="text/javascript">
      $('.dropdown-menu').on('click', function (e) {
       e.stopPropagation() 
      })
     </script>
{% endblock js %}
