{% extends "project/base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load customfilters %}

{% block content %}

    <div class="container">
        <div class="row">
            <div class="col-sm-12">

                <table class="table table-striped table-responsive">
                    <tr>
                        <th>Info</th>
                        <th>Last Modified</th>
                        <th>Contact Name</th>
                        <th>J-Code</th>
                        <th>Price</th>
                        <th>Class</th>
                        <th>Effect</th>
                        <th>Planets</th>
                        <!--<th>Information</th>-->
                    </tr>
                    {% for order in object_list %}
                        <tr>
                            <form action="{% url 'main:order_details' order.id %}">
                                <td style='vertical-align: middle'><button type='submit' class='glyphicon glyphicon-info-sign btn btn-default'></td>
                            </form>
                            <td style='vertical-align: middle'><abbr class="timeago" title="{{ order.modified|date:'c' }}"></abbr></td>
                            <td style='vertical-align: middle'><a href="{{ order.evewho_link }}" target="_blank">{{ order.contact_name }}</a></td>
                            <td style='vertical-align: middle'>{{ order.system.j_code }}</td>
                            <td style='vertical-align: middle'>{{ order.price|sigfigs:4|intword }}</td>
                            <td style='vertical-align: middle'>{{ order.system.space.abbrev }}: {% for static in order.system.statics.all %}{% if forloop.first %}{% else %}/{% endif %}{{ static.space.abbrev }}{% endfor %}</td>
                            <td style='vertical-align: middle'>{{ order.system.effect.name }}</td>
                            <td style='vertical-align: middle'><a href="{{ order.system.eveplanet_URL }}" target="_blank" class='glyphicon glyphicon-globe btn btn-default' style='text-align: center'></a></td>
                            <!--<td>{{ order.information|truncatewords:5 }}</td>-->
                        </tr>
                    {% endfor %}
                </table>

            </div>
        </div>
    </div>

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/initialize.timeago.js' %}"></script>
{% endblock js %}
