{% extends "project/base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load mathfilters %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Order #{{ order.id }}</h2>
                <hr>
                
                <div class="row">
                    <div class="col-sm-12">
                        <div class="panel panel-default">
                            <div class="panel-heading">General order information</div>
                            <div class="panel-body">
                                <p>Created <abbr class="timeago" title="{{ order.created|date:'c' }}"></abbr></p>
                                <p>Modified <abbr class="timeago" title="{{ order.modified|date:'c' }}"></abbr></p>
                                <p>Contact name: {{ order.contact_name }}</p>
                                <p>System: {{ order.system.j_code }}</p>
                                <p>Price: {{ order.price|floatformat:2|intcomma }} ISK</p>
                                <p>Information: {{ order.information }}</p>
                            </div>
                        </div>
                    </div>
                </div>

                <div class="row">
                        
                    {% for static in order.system.statics.all %}
                        <div class="col-sm-6">
                            <div class="panel panel-default">
                                <div class="panel-heading">{{ static.space.name }} Static ({{ static.name }})</div>
                                <div class="panel-body">
                                    <p>{{static.life}} hour lifetime</p>
                                    <p>Total mass: {{static.mass|intcomma }} Kg  ({{ static.mass|div:1000000|floatformat:0 }} Gg)</p>
                                    <p>Jump mass: {{static.jump|intcomma }} Kg ({{ static.jump|div:1000000|floatformat:0 }} Gg)</p>
                                </div>
                            </div>
                        </div>
                    {% endfor %}

                </div>

            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/initialize.timeago.js' %}"></script>
{% endblock js %}
