{% extends "project/base.html" %}

{% load staticfiles %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">List your wormhole</h2>
            </div>
        </div>
        <div id='wrapper' class="row">
            <div class="col-sm-12">
                <div class="col-sm-6 col-sm-offset-3">

                    <form action="{% url 'main:order_form' %}" method="POST">
                        {% csrf_token %}
                        {{ form.non_field.errors }}

                        <div class="form-group">
                            {{ form.contact_name.errors }}
                            <p id="id_contact_name_validation" class="text-danger">Character does not exist.</p>
                            <label for="id_contact_name" class="sr-only">Contact character name:</label>
                            {{ form.contact_name }}
                        </div>

                        <div class="form-group">
                            {{ form.system.errors }}
                            <p id="id_system_validation" class="text-danger">Wormhole does not exist.</p>
                            <label for="id_system" class="sr-only">Wormhole J-code:</label>
                            <input id="id_system" class="form-control" maxlength="7" name="system" type="text" placeholder="Wormhole J-code (required)">
                            <div id="system-details" class="row">
                                <div class="col-sm-12">
                                    <div class="panel panel-default">
                                        <div class="panel-body">
                                            <span id="id_wormhole_class"></span>
                                            <span id="id_wormhole_effect"></span>
                                            <p>Statics: <span id="id_wormhole_statics"></span></p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            {{ form.system.errors }}
                        </div>


                        <div class="form-group">
                            <label for="id_price" class="sr-only">Price</label>
                            {{ form.price }}
                            {{ form.price.errors }}
                        </div>

                        <div class="form-group">
                            <label for="id_information" class="sr-only">Information</label>
                            <textarea id="id_information" class="form-control" name="information" type="text" placeholder="Additional information" rows="10"></textarea>
                            {{ form.information.errors }}
                        </div>

                        <button class="btn btn-primary pull-right" type="submit">Submit</button>
                    </form>
                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/order_form.js' %}"></script>
{% endblock js %}
