{% extends "project/base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load mathfilters %}
{% load customfilters %}

{% block content %}
    <div class="container">
        <div class="row">
            <div class="col-sm-12">
                <h2 class="text-center">Order #{{ order.id }}: {{ order.system.space }} {{ order.system.effect.name }}</h2>
                <hr>

                <div class="row">

                    {# Order information block #}
                    <div class="col-sm-6">
                        <div class="panel panel-default">
                            <div class="panel-heading">Order information:</div>
                            <div class="panel-body">
                                <p class="small">Created: <abbr class="timeago" title="{{ order.created|date:'c' }}"></abbr></p>
                                <p class="small">Modified: <abbr class="timeago" title="{{ order.modified|date:'c' }}"></abbr></p>
                                <p>System: {{ order.system.j_code }}</p>
                                <p>Price: {{ order.price|sigfigs:4|intword }} ISK</p>
                                <p>Contact name: <a href="{{ order.evewho_link }}" target="_blank">{{ order.contact_name }}</a></p>
                                <p>Additional Information: {{ order.information }}</p>
                            </div>
                        </div>
                    </div>

                    <div class="col-sm-6">

                        {# Wormhole effect information block #}
                        <div class="panel panel-default">
                            <div class="panel-heading">{{ order.system.effect.name }}:</div>
                            <div class="panel-body">
                                {% if order.system.effect.name == 'No Effect' %}
                                    <p>This wormhole has no special effects.</p>
                                {% else %}
                                    {% for element in order.system.effect.effect_elements.all %}
                                        <p class="{% if element.bad %}text-danger{% else %}text-success{% endif %}">{{ element.name }}: {{ element.base|mul:order.system.space.multiplier }}</p>
                                    {% endfor %}
                                {% endif %}
                            </div>
                        </div>

                        {# Wormhole statics information block #}
                        {% if order.system.statics.all.count > 0 %}
                            <div class="panel panel-default">
                                <div class="panel-heading">Static wormholes:</div>
                                <div id="static-container" class="panel-body">
                                    {% for static in order.system.statics.all %}
                                        <div class="static-panel">
                                            <div class="static-wrapper {{ static.space.abbrev }}">
                                                <div class="static-title text-center">
                                                    {{ static.space.abbrev }}
                                                </div>
                                                <div class="static-body">
                                                    <p>Type: {{ static.name }}</p>
                                                    <p>Lifetime: {{ static.life }} hours</p>
                                                    <p>Total mass: {{static.mass|intcomma }} Kg ({{ static.mass|div:1000000|floatformat:0 }} Gg)</p>
                                                    <p>Jump mass: {{static.jump|intcomma }} Kg ({{ static.jump|div:1000000|floatformat:0 }} Gg)</p>
                                                </div>
                                            </div>
                                        </div>
                                    {% endfor %}
                                </div>
                            </div>
                        {% endif %}

                    </div>

                </div>
            </div>
        </div>
    </div>
{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/initialize.timeago.js' %}"></script>
{% endblock js %}
