{% load staticfiles %}
{% load humanize %}
{% load customfilters %}
{% load nbsp %}

<div class="table-all">
    <div class="row table-row">
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-heading button-col table-cell"><p>Details</p></div>
        <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-1 col-heading table-cell"><p>Class</p></div>
        <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 col-heading table-cell"><p>Effect</p></div>
        <div class="col-lg-2 col-md-2 col-sm-3 col-xs-3 col-heading table-cell"><p>Price&nbsp;(ISK)</p></div>
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs col-heading table-cell"><p>Seller</p></div>
        <div class="col-lg-2 col-md-2 hidden-sm hidden-xs col-heading table-cell"><p>Modified</p></div>
        <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs col-heading table-cell"><p>J&#8209;Code</p></div>
        <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 col-heading button-col table-cell"><p>More</p></div>
    </div>

    {% for order in object_list %}
        <div class="row table-row {% if user.is_authenticated and user == order.user %}user-table-row{% endif %}">
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 button-col table-cell"><a href="{% url 'main:order_details' order.id %}" class='glyphicon glyphicon-info-sign btn btn-default'></a></div>
            <div class="col-lg-1 col-md-1 col-sm-2 col-xs-3 col-lg-offset-0 col-md-offset-0 col-sm-offset-1 col-xs-offset-1 table-cell"><p>C{{ order.system.space.code }}{% for static in order.system.statics.all %}&nbsp;/&nbsp;{{ static.space.code }}{% endfor %}</p></div>
            <div class="col-lg-2 col-md-2 col-sm-2 col-xs-3 table-cell"><p>{{ order.system.effect.blankname }}</p></div>

            <div id='{{ forloop.counter }}' class="col-lg-2 col-md-2 col-sm-3 col-xs-3 table-cell">
                <span class='price-display' title='{{ order.price|floatformat:2|intcomma }} ISK' data-toggle="tooltip">{{ order.price|sigfigs:4|intword }}</span>
                {% if user.is_authenticated and user == order.user %}
                    <span class='glyphicon glyphicon-pencil' style='float: right'></span>
                {% endif %}
                {% if user.is_authenticated and user = order.user %}
                    <div class='price-textbox'>
                        <input type="text" class='form-control' value='{{ order.price }}'>
                        <span class='glyphicon glyphicon-floppy-disk' style='float: right'></span>
                    </div>
                {% endif %}
            </div>
            

            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs table-cell"><p><a href="{{ order.contact_name.evewho_link }}" target="_blank">{{ order.contact_name.name }}</a></p></div>
            <div class="col-lg-2 col-md-2 hidden-sm hidden-xs table-cell"><p><time class="timeago" datetime="{{ order.modified|date:'c' }}" title='{{ order.modified|date:'Y-m-d  G:i' }}' data-toggle="tooltip"></time></p></div>
            <div class="col-lg-1 col-md-1 col-sm-2 hidden-xs table-cell"><p>{{ order.system.j_code }}</p></div>
            <div class="col-lg-1 col-md-1 col-sm-1 col-xs-1 dropdown button-col table-cell">
                <a class="dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="true">
                    <span class="glyphicon glyphicon-chevron-down"></span>
                </a>
                <ul class="dropdown-menu dropdown-menu-right table-dropdown" aria-labelledby="dropdownMenu1">
                    <li class='hidden-lg hidden-md'><p>Posted: <abbr class="timeago" title="{{ order.modified|date:'c' }}"></abbr></p></li>
                    <li class='hidden-lg hidden-md'><p>Seller: <a href="{{ order.evewho_link }}" target="_blank">{{ order.contact_name }}</a></p></li>
                    <li class='hidden-lg hidden-md hidden-sm'><p>J-Code: {{ order.system.j_code }}</p></li>
                    <li role="separator" class="divider hidden-lg hidden-md"></li>
                    <li class=''><p><a href="{{ order.system.eveplanet_URL }}" target="_blank">Planets</a></p></li>
                    <li class=''><p><a href="https://zkillboard.com/system/{{order.system.id}}" target='_blank'>ZKill</a></p></li>
                    <li class=''><p><a href="http://wh.pasta.gg/{{order.system.j_code}}" target='_blank'>wh.pasta.gg</a></p></li>
                </ul>
            </div>
        </div>
    {% endfor %}
</div>
<nav>
    <ul class="pagination">
        <li>
            <a href="#" aria-label="Previous">
                <span aria-hidden="true">&laquo;</span>
            </a>
            </li>
                <li class='active'><a href="#">1</a></li>
                <li><a href="#">2</a></li>
                <li><a href="#">3</a></li>
                <li><a href="#">4</a></li>
                <li><a href="#">5</a></li>
            <li>
            <a href="#" aria-label="Next">
                <span aria-hidden="true">&raquo;</span>
            </a>
        </li>
        <li><span><-- Non Functional</span></li>
    </ul>
</nav>
