{% extends "project/base.html" %}

{% load staticfiles %}
{% load humanize %}
{% load customfilters %}

{% block content %}

    <div id='user-order-list' class="container">
        <div class="row">
            <h3>{{ user.username }}</h3>
            <h1>{{ set_string|title }} Orders</h1>
        </div>

        {% include "main/table_base.html" %}

    </div>

{% endblock content %}

{% block js %}
    <script type="text/javascript" src="{% static 'main/js/initialize.timeago.js' %}"></script>

    <script type="text/javascript">
      $('.dropdown-menu').on('click', function (e) {
       e.stopPropagation() 
      })
    </script>
    <script type="text/javascript">
        $(document).ready(function(){
            $('[data-toggle="tooltip"]').tooltip(); 
        });
    </script>
{% endblock js %}
